.share {
  /* -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68); */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /* box-shadow: 0px 0px 16px -8px rgb(0 0 0 / 68%); */
  box-shadow: 0px 0px 16px 2px rgb(255 255 255 / 68%);
  margin-top: 1%;
}
.shareWrapper {
  padding: 10px;
}
.shareTop {
  display: flex;
  align-items: center;
}
.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.shareInput {
  border: none;
  width: 80%;
}
.shareInput:focus {
  outline: none;
}
.shareHr {
  margin: 20px;
}
.shareBottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
}
.inputSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5% 2%;
}
.Input input {
  border: none;
  /* border-bottom: 1px solid; */
}
.Input input:focus {
  border: none;
  outline: none;
}

.shareOptions {
  display: flex;
  /* margin-left: 20px; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.5% 2%;
}
.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}
.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}
.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
  width: 5%;
}
.shareImg {
  width: 100%;
  object-fit: cover;
}
.shareCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.InputGifHeaderSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.inputGifSection {
  width: 30vh;
  max-height: 30vh;
  position: absolute;
  margin-top: 34vh;
  min-height: 30vh;
  border: 2px solid black;
  background: grey;
  overflow: auto;
}
